.bg-image{
    background-image: linear-gradient(rgba(28, 55, 94, 0.6), rgba(28, 55, 94, 0.6)),url(./images/bg-masthead.jpg);
    background-size: cover;

}
.custom-container{
    height: 90vh;

}
.form-container{
    height: 65vh;
    align-content: center;
}
.rounded{
    border-radius: 50% !important;
}
.bg-hero {
  height: 80vh;
}
.bg-small {
  height: 45vh;
}
.input-1{
    height: 4rem!important;
}
.feature{
    background-color: #f7f9fa;
}
.opacity{
    opacity: 0.7;
}
.feature-height{
    height: 70vh!important;
}
